<app-products-filter (search)="onSearch($event)"> </app-products-filter>
<pagination
  *ngIf="total$ | async as total"
  class="mb-3"
  [itemsPerPage]="pageSize"
  [totalItems]="total"
  (pageChanged)="pageChanged($event)"
></pagination>
<div class="list-group">
  <div
    class="list-group-item list-group-item-action d-flex justify-content-between"
    *ngFor="let product of products$ | async"
  >
    <div>
      <span class="me-3">{{ product.name }}</span>
      <span class="fw-bold" [class.text-danger]="product.price === 0">
        {{ product.price | currency }}
      </span>
    </div>

    <button class="btn btn-info me-2" tabindex="0" [routerLink]="product.id">
      View Details
    </button>
  </div>
</div>
