<div class="shadow card m-3 p-3" *ngIf="product">
  <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        #name="ngModel"
        id="name"
        class="form-control"
        name="name"
        type="text"
        required
        [(ngModel)]="product.name"
      />
      <app-form-errors
        [model]="name"
        [messages]="{
          required: 'Name is required'
        }"
      ></app-form-errors>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        #description="ngModel"
        id="description"
        class="form-control"
        name="description"
        required
        maxlength="200"
        [(ngModel)]="product.description"
      ></textarea>
      <app-form-errors
        [model]="description"
        [messages]="{
          required: 'Description is required'
        }"
        [customValidation]="[
          {
            isError: description?.value?.length >= 200,
            message: 'Description cannot be longer than 200 characters'
          }
        ]"
      ></app-form-errors>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        #price="ngModel"
        id="price"
        class="form-control"
        name="price"
        type="number"
        required
        [ngModel]="product.price"
      />
      <app-form-errors
        [model]="price"
        [messages]="{
          required: 'Price is required'
        }"
      ></app-form-errors>
    </div>
    <button class="btn btn-danger mt-2" type="submit">Save</button>
  </form>
</div>
