<nav
  class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-between"
>
  <div class="nav navbar-nav">
    <a
      *ngFor="let item of navigation"
      class="nav-item nav-link"
      routerLinkActive="active"
      [routerLink]="item.link"
      [href]="item.link"
      >{{ item.title }}</a
    >
  </div>
  <div *ngIf="authService.isAuthenticated$ | async; else loggedOut">
    <span class="text-white me-1">
      {{ authService.userEmail$ | async }}
    </span>
    <button class="btn btn-danger" (click)="authService.logout()">
      Logout
    </button>
  </div>
  <ng-template #loggedOut>
    <button class="btn btn-secondary" (click)="authService.login()">
      Login
    </button>
  </ng-template>
</nav>
